<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap_default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/eureka/style.css}">-->
    <link rel="stylesheet" th:href="@{/scss/main.css}">
    <!--    <link rel="stylesheet" th:href="@{/dhtmlxgantt/dhtmlxgantt.css?v=7.0.5}">-->
    <title style="text-transform:capitalize">Dudu Gift</title>
</head>

<body>
<!--Navbar-->
<header class="top">
    <nav class="navbar navbar-expand-lg navbar-light navbarNav fixed-top">
        <img th:src="@{/img/logo.png}" alt="" style="height:2rem">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topmenu">
                <li class="nav-item search">
                    <a href="#" class="nav-link"><i class="fa fa-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gift Inpiration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create-registry}">Create Regitry</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modalLogin">Login/Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> <i class="fa fa-bell-o fa-5x" aria-hidden="true"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user-profile}"> <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="search-bar ">
            <form class="d-flex w-100 justify-content-center" method="GET">
                <input class="align-self-center search-input form-control text-center p-3" type="text" name=""
                       placeholder="What are you searching for dudu?"/>
                <button type="submit" class="align-self-center mb-3">
                </button>
            </form>
        </div>
    </nav>
</header>
<!--End Navbar-->


<!--Footer-->
<footer class="footers pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                <div class="footers-info mt-3">
                    <h3>Follow us on</h3>
                </div>
                <div class="social-medial align-self-center">
                    <a href=""> <img th:src="@{/img/logo/twitter-black.png}" alt="twiter" height="200"></a>
                    <a href=""> <img th:src="@{/img/logo/ig.png}" alt="instagram"></a>
                    <a href=""> <img th:src="@{/img/logo/tiktok.png}" alt="tiktok"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Ventures</a></li>
                
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->

<!--Javascript-->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.timeago.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/Chart.ErrorBars.min.js}"></script>

<script type="text/javascript">
    
    jQuery(document).ready(function ($) {
        // open search
        $('header.top .topmenu li.search').on('click', 'a', function (e) {
            $('.search-bar').fadeIn();
            $('.topmenu').fadeOut();
            e.preventDefault();
        });
        // close search
        $(document).mouseup(function (e) {
            var container = $('.search-bar form');
            if (!container.is(e.target) &&
                container.has(e.target).length === 0) {
                $('.search-bar').fadeOut();
                $('.topmenu').fadeIn();
            }
        });
    })
</script>
<!--End Javascript-->
</body>
</html>
