<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap_default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/eureka/style.css}">-->
    <link rel="stylesheet" th:href="@{/scss/main.css}">
    <!--    <link rel="stylesheet" th:href="@{/dhtmlxgantt/dhtmlxgantt.css?v=7.0.5}">-->
    <title style="text-transform:capitalize">Dudu Gift</title>
</head>

<body>
<!--Navbar-->
<header class="top">
    <nav class="navbar navbar-expand-lg navbar-light navbarNav fixed-top">
        <img th:src="@{/img/logo.png}" alt="" style="height:2rem">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topmenu">
                <li class="nav-item search">
                    <a href="#" class="nav-link"><i class="fa fa-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gift Inpiration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create-registry}">Create Regitry</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modalLogin">Login/Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> <i class="fa fa-bell-o fa-5x" aria-hidden="true"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user-profile}"> <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="search-bar ">
            <form class="d-flex w-100 justify-content-center" method="GET">
                <input class="align-self-center search-input form-control text-center p-3" type="text" name=""
                       placeholder="What are you searching for dudu?"/>
                <button type="submit" class="align-self-center mb-3">
                </button>
            </form>
        </div>
    </nav>
</header>
<!--End Navbar-->

<!--Register Page-->
<section class="container pt-5">
    <div class="title text-center font-weight-bold mt-5">
        <h3 class="font-weight-bold">Create Weading Registry</h3>
    </div>
    <form action="">
        <div class="row card p-5 bg-light shadow-sm border-0">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-10">
                        <label class="font-weight-bold">Banner Image <sup class="text-danger">*</sup></label>
                        <div class="image-area rounded mt-2">
                            <img id="imageResult" src="#" class="img-fluid rounded shadow-sm mx-auto d-block" alt="">
                        </div>
                        <small>This image will appera at the tio of your wishlist page Avoid including too much text in
                            this
                            banne image, as the dimensions change on
                            different device. 1400 X 400 recommended</small>
                    </div>
                    <div class="col-sm-2 mt-4 p-2">
                        <div class="form-group justify-content-center d-inline-flex">
                            <div class="mb-3 mr-1">
                                <a href=""> <img th:src="@{/img/logo/wedding.png}" class="img-thumbnail" alt="..."></a>
                            </div>
                            <div class="mb-3 mr-1">
                                <a href=""> <img th:src="@{/img/logo/wedding.png}" class="img-thumbnail" alt="..."></a>
                            </div>
                        </div>
                        <div class="form-group justify-content-center d-inline-flex">
                            <div class="mb-3 mr-1">
                                <a href=""> <img th:src="@{/img/logo/wedding.png}" class="img-thumbnail" alt="..."></a>
                            </div>
                            <div class="mb-3 mr-1">
                                <div class="input-group mb-3 bg-white shadow-sm img-thumbnail">
                                    <input id="upload" hidden type="file" onchange="readURL(this);"
                                           class="form-control border-0">
                                    <div class="">
                                        <label for="upload" class="btn m-0 rounded-pill px-4"> <i
                                                class="fa fa-cloud-upload mr-2 text-muted"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Registry Name <sup
                                class="text-danger">*</sup></label>
                        <input type="text" class="form-control" id="name" aria-describedby="name"
                               placeholder="Example: John and Doe Wedding" autofocus required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="url" class="font-weight-bold">URL</label>
                        <input type="text" class="form-control" id="url" aria-describedby="name"
                               placeholder="http://dudu.com/wishlisht/john-wedding">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group fieldGroup">
                        <label class="font-weight-bold">Delivery Address <sup class="text-danger">*</sup></label>
                        
                        <div class="form-group">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary p-2 w-25" data-toggle="modal"
                                    data-target="#formAddress">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <small class="font-italic">
                            Your item(s) will bi delivere estimated a week or thow after your
                            connection in the end of period
                        </small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="font-weight-bold">
                            Registry and Period
                            <sup class="text-danger">*</sup></label>
                        <div class="input-group mb-2">
                            <input type="date" class="form-control" required>
                        </div>
                        <small class="font-italic">Your item(s)will be delivered estimated a week or two after your
                            confirmation in the end of period
                        </small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="font-weight-bold">
                            Video Greeting to Guest
                        </label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file</label>
                        </div>
                        <small class="font-italic">
                            .mp4; max: 100mb
                        </small>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-bold">
                            Greetings to Guest
                            <sup class="text-danger">*</sup>
                        </label>
                        <div class="input-group mb-2">
                            <!--                            <input type="date" class="form-control" required>-->
                            <textarea class="form-control" rows="7" required></textarea>
                        </div>
                        <small class="font-italic">0 off 1000 characters userd</small>
                    </div>
                </div>
            </div>
<!--            <button type="submit" class="btn btn-primary">Submit</button>-->
            <a th:href="@{/create-registry/user/list-registry}" class="btn btn-primary">Save</a>
        </div>
    </form>
</section>
<!--End Register Pages-->

<!-- Modal Form Address-->
<div class="modal fade" id="formAddress" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="card card-block modal-content">
            <div class="text-left mr-3 mt-2 p-1">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section class="multi_step_form p-3">
                <form id="msform" class="position-relative text-center">
                    <!-- Tittle -->
                    <div>
                        <h2 class="mb-3">Add New Address</h2>
                    </div>
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Seaarch your Delivery Address</li>
                        <li>Set Pin Point</li>
                        <li>Complate Address Details</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h3>Search your Delivery Address</h3>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control form-custom">
                            </div>
                        <button type="button" class="action-button previous_button">Back</button>
                        <button type="button" class="next action-button">Continue</button>
                    </fieldset>
                    <fieldset>
                        <h3>Set Pin Point</h3>
                        <h6>Please Select any map address to delivered your registry.</h6>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control form-custom">
                        </div>
                        <button type="button" class="action-button previous">Back</button>
                        <button type="button" class="next action-button">Continue</button>
                    </fieldset>
                    <fieldset>
                        <h3>Complate Address Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control form-custom" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Address Label <sup class="text-danger">*</sup></label>
                                    <input type="text" class="form-control form-custom" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Phone's Number<sup class="text-danger">*</sup></label>
                                    <input type="number" class="form-control form-custom" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Complate Address<sup class="text-danger">*</sup></label>
                                    <textarea type="text" class="form-control form-custom" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Address Noted</label>
                                    <input type="text" class="form-control form-custom" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Recipient's Name<sup class="text-danger">*</sup></label>
                                    <input type="text" class="form-control form-custom" placeholder="">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="action-button previous previous_button">Back</button>
                        <a href="#" class="action-button">Save</a>
                    </fieldset>
                </form>
                
            </section>
        </div>
    </div>
</div>
<!--End Form Address-->

<!--Modal Login-->
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog p-5">
        <div class="card card-block modal-content ">
            <div class="text-left mr-3 mt-2 p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <legend class="text-center"><strong> Loggin in to Dudu </strong></legend>
            <div class="p-4">
                <form action="" method="" class="mt-3">
                    <div class="form-group form">
                        <input type="text" id="email" class="form-control form__input" autocomplete="off"
                               placeholder=" ">
                        <label for="email" class="form__label">Phone Number or Email Addreass</label>
                    </div>
                    <div class="form-group form">
                        <input type="password" id="passwords" class="form-control form__input" autocomplete="off"
                               placeholder=" ">
                        <label for="password" class="form__label">Password</label>
                    </div>
                    <div class="form-group d-md-flex">
                        <div class="w-50 text-left">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                        </div>
                        <div class="w-50 text-md-right">
                            <a href="#">Forgot Password</a>
                        </div>
                    </div>
                    <button type="submit" class=" form-control btn btn-primary rounded-pill">LOG IN</button>
                </form>
            </div>
            <div class="text-center mb-3">
                    <span class="text-center mt-2">Don't have a account?
                        <strong><a href="" data-toggle="modal" data-target="#modalRegister">SIGNUP</a></strong>
                    </span>
            </div>
            <span class="text-center mt-2">or Login With</span>
            
            <div class="social-medial align-self-center">
                <a href=""> <img th:src="@{/img/logo/google.png}" alt="google"></a>
                <a href=""> <img th:src="@{/img/logo/facebook.png}" alt="facebook"></a>
                <a href=""> <img th:src="@{/img/logo/twiter.png}" alt="twiter"></a>
            </div>
        </div>
    </div>
</div>
<!--End Modal Login-->

<!--Modal Register-->
<div class="modal fade" id="modalRegister" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog p-5">
        <div class="card card-block modal-content ">
            <div class="text-left mr-3 mt-2 p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <legend class="text-center"><strong> Sign up to Mommo </strong></legend>
            <div class="p-4">
                <form action="" method="" class="mt-3">
                    <div class="form-group form">
                        <input type="text" class="form-control form__input" autocomplete="off" placeholder=" ">
                        <label class="form__label">Phone Number or Email</label>
                    </div>
                    <div class="form-group form">
                        <input type="text" id="password" class="form-control form__input" autocomplete="off"
                               placeholder=" ">
                        <label class="form__label">Full Names</label>
                    </div>
                    <div class="form-group d-md-flex">
                        <div class="d-flex text-left">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="exampleCheck1">I Accept DUDU's </label>
                                <span>
                                        <strong>
                                            <a href="">Terms & Conditions</a>
                                        </strong>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class=" form-control btn btn-primary rounded-pill" data-toggle="modal"
                            data-target="#modalOTP">SIGN UP
                    </button>
                </form>
            </div>
            <div class="text-center mb-3">
                    <span class="text-center mt-2">Already have an account's?
                        <strong><a href="">Log in</a></strong>
                    </span>
            </div>
            <span class="text-center mt-2">or Sign up with</span>
            
            <div class="social-medial align-self-center">
                <a href=""> <img th:src="@{/img/logo/google.png}" alt="" src=""></a>
                <a href=""> <img th:src="@{/img/logo/facebook.png}" alt="" src=""></a>
                <a href=""> <img th:src="@{/img/logo/twiter.png}" alt="" src=""></a>
            </div>
        </div>
    </div>
</div>
<!--End Modal Register-->

<!--Verification OTP-->
<div class="modal fade" id="modalOTP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="card card-block modal-content ">
            <div class="text-left mr-3 mt-2 p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <legend class="text-center"><strong> Sign up to Mommo </strong></legend>
            <div class="text-center">
                <p class="text-center">Enter The Verification code the we sent</p>
                <span>
                        <a href="">user_ph_or_email</a>
                    </span>
            </div>
            
            <div class="p-4">
                <form action="" method="">
                    <div class="d-flex justify-content-center align-items-center container">
                        <div class="d-flex flex-row mb-3 mt-3">
                            <input type="text" class="form-control fm_costum" autofocus="" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                        </div>
                    </div>
                    <button type="button" class=" form-control btn btn-primary rounded-pill mt-3" data-toggle="modal"
                            data-target="#modalGetProfile">VERIFY
                    </button>
                </form>
            </div>
            <div class="text-center mb-4">
                <p class="text-center ">Didn't receive the verification code
                    <strong>
                        <span class="text-center"> Resend in 00:59</span>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Verification OTP-->

<!--Set Profile-->
<div class="modal fade" id="modalGetProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="card card-block modal-content ">
            <div class="text-left mr-3 mt-2 p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <legend class="text-center"><strong> Sign up to Mommo </strong></legend>
            <div class="text-center">
                <p class="text-center">Enter The Verification code the we sent</p>
                <span>
                        <a href="">user_ph_or_email</a>
                    </span>
            </div>
            
            <div class="p-4">
                <form action="" method="#">
                    <div class="d-flex justify-content-center align-items-center container">
                        <div class="d-flex flex-row mb-3 mt-3">
                            <input type="text" class="form-control fm_costum" autofocus="" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                        </div>
                    </div>
                    <button type="submit" class=" form-control btn btn-primary rounded-pill mt-3">VERIFY</button>
                </form>
            </div>
            <div class="text-center mb-4">
                <p class="text-center ">Didn't receive the verification code
                    <strong>
                        <span class="text-center"> Resend in 00:59</span>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Set Profile-->

<!--Footer-->
<footer class="footers pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                <div class="footers-info mt-3">
                    <h3>Follow us on</h3>
                </div>
                <div class="social-medial align-self-center">
                    <a href=""> <img th:src="@{/img/logo/twitter-black.png}" alt="twiter" height="200"></a>
                    <a href=""> <img th:src="@{/img/logo/ig.png}" alt="instagram"></a>
                    <a href=""> <img th:src="@{/img/logo/tiktok.png}" alt="tiktok"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Ventures</a></li>
                
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->

<!--Javascript-->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.timeago.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/Chart.ErrorBars.min.js}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js'></script>

<!-- <script th:src="@{/dhtmlxgantt/dhtmlxgantt.js?v=7.0.5}"></script> -->

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */

    jQuery(document).ready(function ($) {

        "use strict";

        //* Form js
        function verificationForm() {
            //jQuery time
            var current_fs, next_fs, previous_fs; //fieldsets
            var left, opacity, scale; //fieldset properties which we will animate
            var animating; //flag to prevent quick multi-click glitches

            $(".next").click(function () {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({
                    opacity: 0
                }, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50) + "%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'position': 'absolute'
                        });
                        next_fs.css({
                            'left': left,
                            'opacity': opacity
                        });
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".previous").click(function () {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //de-activate current step on progressbar
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();
                //hide the current fieldset with style
                current_fs.animate({
                    opacity: 0
                }, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        //2. take current_fs to the right(50%) - from 0%
                        left = ((1 - now) * 50) + "%";
                        //3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'left': left
                        });
                        previous_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'opacity': opacity
                        });
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".submit").click(function () {
                return false;
            })
        };

        //* Select js
        function nice_Select() {
            if ($('.product_select').length) {
                $('select').niceSelect();
            }
            ;
        };
        /*Function Calls*/
        verificationForm();
        nice_Select();


        //group add limit
        var maxGroup = 20;
        //add more fields group
        $(".addMore").click(function () {
            if ($('body').find('.fieldGroup').length < maxGroup) {
                var fieldHTML = '<div class="form-group fieldGroup">' + $(".fieldGroupCopy").html() + '</div>';
                $('body').find('.fieldGroup:last').after(fieldHTML);
            } else {
                alert('Maximum ' + maxGroup + ' groups are allowed.');
            }
        });

        //remove fields group
        $("body").on("click", ".remove", function () {
            $(this).parents(".fieldGroup").remove();
        });

        // open search
        $('header.top .topmenu li.search').on('click', 'a', function (e) {
            $('.search-bar').fadeIn();
            $('.topmenu').fadeOut();
            e.preventDefault();
        });
        // close search
        $(document).mouseup(function (e) {
            var container = $('.search-bar form');
            if (!container.is(e.target) &&
                container.has(e.target).length === 0) {
                $('.search-bar').fadeOut();
                $('.topmenu').fadeIn();
            }
        });
    })
</script>
<!--End Javascript-->
</body>
</html>
