@font-face {
    font-family: 'Material Icons Outline';
    font-style: normal;
    font-weight: 400;
    src: url(font/Outline/Material-Icons-Outline.eot); /* For IE6-8 */
    src: local('MaterialIcons-Outline'),
    url(font/Outline/Material-Icons-Outline.woff2) format('woff2'),
    url(font/Outline/Material-Icons-Outline.woff) format('woff'),
    url(font/Outline/Material-Icons-Outline.svg) format('svg'),
    url(font/Outline/Material-Icons-Outline.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url(font/Round/Material-Icons-Round.eot); /* For IE6-8 */
    src: local('Material-Icons-Round'),
    url(font/Round/Material-Icons-Round.woff2) format('woff2'),
    url(font/Round/Material-Icons-Round.woff) format('woff'),
    url(font/Round/Material-Icons-Round.svg) format('svg'),
    url(font/Round/Material-Icons-Round.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons Sharp';
    font-style: normal;
    font-weight: 400;
    src: url(font/Sharp/Material-Icons-Sharp.eot); /* For IE6-8 */
    src: local('Material-Icons-Sharp'),
    url(font/Sharp/Material-Icons-Sharp.woff2) format('woff2'),
    url(font/Sharp/Material-Icons-Sharp.woff) format('woff'),
    url(font/Sharp/Material-Icons-Sharp.svg) format('svg'),
    url(font/Sharp/Material-Icons-Sharp.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font/Baseline/Material-Icons-Baseline.eot); /* For IE6-8 */
    src: local('Material-Icons-Baseline'),
    url(font/Baseline/Material-Icons-Baseline.woff2) format('woff2'),
    url(font/Baseline/Material-Icons-Baseline.woff) format('woff'),
    url(font/Baseline/Material-Icons-Baseline.svg) format('svg'),
    url(font/Baseline/Material-Icons-Baseline.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
