/* poppins-regular - latin-ext_latin_devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('font/poppins-v13-latin-ext_latin_devanagari-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('font/poppins-v13-latin-ext_latin_devanagari-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/poppins-v13-latin-ext_latin_devanagari-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/poppins-v13-latin-ext_latin_devanagari-regular.woff') format('woff'), /* Modern Browsers */
       url('font/poppins-v13-latin-ext_latin_devanagari-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/poppins-v13-latin-ext_latin_devanagari-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
