<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap_default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/eureka/style.css}">-->
    <link rel="stylesheet" th:href="@{/scss/main.css}">
    <!--    <link rel="stylesheet" th:href="@{/dhtmlxgantt/dhtmlxgantt.css?v=7.0.5}">-->
    
    <title style="text-transform:capitalize">Dudu Gift</title>
</head>

<body>
<!--Navbar-->
<header class="top">
    <nav class="navbar navbar-expand-lg navbar-light navbarNav fixed-top">
        <img th:src="@{/img/logo.png}" alt="" style="height:2rem">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topmenu">
                <li class="nav-item search">
                    <a href="#" class="nav-link"><i class="fa fa-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gift Inpiration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create-registry}">Create Regitry</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modalLogin">Login/Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> <i class="fa fa-bell-o fa-5x" aria-hidden="true"></i> </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" th:href="@{/user-profile}"> <i class="fa fa-user fa-5x" aria-hidden="true"></i> </a>
                </li>
            </ul>
        </div>
        <div class="search-bar ">
            <form class="d-flex w-100 justify-content-center" method="GET">
                <input class="align-self-center search-input form-control text-center p-3" type="text" name=""
                       placeholder="What are you searching for dudu?"/>
                <button type="submit" class="align-self-center mb-3">
                </button>
            </form>
        </div>
    </nav>
</header>
<!--End Navbar-->

<!--Banner Page-->
<section class="banner align-items-center jmb">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                <div class="text-banner ml-5">
                    <h2 class="mb-5 font-weight-bold">No Pile of Unused Items, Usefull <br> Present and Crowdsources
                    </h2>
                    <h3 class="mb-5">DUDU is th Indonesia's first<br>Online Platform Gifts Registratry</h3>
                    <button class="btn btn-primary p-2 w-25 mr-3">Explore</button>
                    <button class="btn btn-warning p-2 w-25">Created</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
                <from action="">
                    <div class="form-group">
                        <div class="jmb-about ">
                            <div class="card text-center jmb-about-card ">
                                <img th:src="@{/img/logo/player.png}" class="card-img-top" alt="">
                                <!--                                <div class="card-body">-->
                                <!--                                    <h5 class="card-title">Special title treatment</h5>-->
                                <!--                                    -->
                                <!--                                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <!--                    <button type="submit" class="btn btn-primary">Learn More about DUDU</button>-->
                </from>
            
            </div>
        </div>
    </div>
</section>
<!--End Banner Pages-->

<!--Service Home-->
<section class="jumbotron bg-danger mb-0">
    <div class="container">
        <div class="service-h4 position-relative d-flex align-items-center justify-content-center">
            <h4 class="position-absolute text-capitalize text-white">Create and share Wishlist?</h4>
        </div>
        <div class="row mt-5 text-white">
            <div class="col-lg-4">
                <div class="service-box p-3 text-center">
                    <div class=" align-items-center justify-content-center mb-4 ">
                        <img th:src="@{/img/logo/pil.png}" class="service-icon mr-3 mb-4" alt="No Pile of Unuserd Items"
                             style="height: 50px; width: 50px; ">
                        <h5 class="font-weight-bold m-0">No Pile of Unuserd Items</h5>
                    </div>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has
                        been
                        the
                        industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box text-center p-3 ">
                    <div class=" align-items-center justify-content-center mb-4 ">
                        <img th:src="@{/img/logo/gift.png}" class="service-icon mr-3 mb-4" alt="Crowdsourcing Gift"
                             style="height: 50px; width: 50px; ">
                        <h5 class="font-weight-bold m-0">Crowdsourcing Gift</h5>
                    </div>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has
                        been
                        the
                        industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box text-center p-3 ">
                    <div class=" align-items-center justify-content-center mb-4 ">
                        <img th:src="@{/img/logo/present.png}" class="service-icon mr-3 mb-4" alt="Useful Present"
                             style="height: 50px; width: 50px; ">
                        <h5 class="font-weight-bold m-0">Useful Present</h5>
                    </div>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has
                        been
                        the
                        industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Home-->

<!--Footer-->
<footer class="footers pt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                <div class="footers-info mt-3">
                    <h3>Follow us on</h3>
                </div>
                <div class="social-medial align-self-center">
                    <a href=""> <img th:src="@{/img/logo/twitter-black.png}" alt="twiter" height="200"></a>
                    <a href=""> <img th:src="@{/img/logo/ig.png}" alt="instagram"></a>
                    <a href=""> <img th:src="@{/img/logo/tiktok.png}" alt="tiktok"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Ventures</a></li>
                
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->


<!--Modal Login-->
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog p-5">
        <div class="card card-block modal-content ">
            <div class="text-left mr-3 mt-2 p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <legend class="text-center"><strong> Loggin in to Dudu </strong></legend>
            <div class="p-4">
                <form th:action="@{/auth/login}" method="post" enctype="multipart/form-data" class="mt-3">
                    <div class="form-group form">
                        <input type="text" id="email" name="email" class="form-control form__input" autocomplete="off"
                               placeholder="">
                        <label for="email" class="form__label">Phone Number or Email Addreass</label>
                    </div>
                    <div class="form-group form">
                        <input type="password" id="password" name="password" class="form-control form__input" autocomplete="off"
                               placeholder="">
                        <label for="password" class="form__label">Password</label>
                    </div>
                    <div class="form-group d-md-flex">
                        <div class="w-50 text-left">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                        </div>
                        <div class="w-50 text-md-right">
                            <a href="#">Forgot Password</a>
                        </div>
                    </div>
                    <button type="submit" class="form-control btn btn-primary rounded-pill">LOG IN</button>
                </form>
            </div>
            <div class="text-center mb-3">
                    <span class="text-center mt-2">Don't have a account?
                        <strong><a th:href="@{/register/step1}">SIGNUP</a></strong>
                    </span>
            </div>
            <span class="text-center mt-2">or Login With</span>
            
            <div class="social-medial align-self-center">
                <a href=""> <img th:src="@{/img/logo/google.png}" alt="google"></a>
                <a href=""> <img th:src="@{/img/logo/facebook.png}" alt="facebook"></a>
                <a href=""> <img th:src="@{/img/logo/twiter.png}" alt="twiter"></a>
            </div>
        </div>
    </div>
</div>
<!--End Modal Login-->

<!--Modal Register-->
<!--<div class="modal fade" id="modalRegister" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog p-5">
        <div class="card card-block modal-content ">
            <div class="text-left mr-3 mt-2 p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <legend class="text-center"><strong> Sign up to Mommo </strong></legend>
            <div class="p-4">
                <form action="" method="" class="mt-3">
                    <div class="form-group form">
                        <input type="text" class="form-control form__input" autocomplete="off" placeholder=" ">
                        <label class="form__label">Email</label>
                    </div>
                    <div class="form-group form">
                        <input type="text" id="password" class="form-control form__input" autocomplete="off"
                               placeholder=" ">
                        <label class="form__label">Full Names</label>
                    </div>
                    <div class="form-group d-md-flex">
                        <div class="d-flex text-left">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="exampleCheck1">I Accept DUDU's </label>
                                <span>
                                        <strong>
                                            <a href="">Terms & Conditions</a>
                                        </strong>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class=" form-control btn btn-primary rounded-pill" th:href="@{/register/step1}">SIGN UP
                    </button>
                </form>
            </div>
            <div class="text-center mb-3">
                    <span class="text-center mt-2">Already have an account's?
                        <strong><a href="">Log in</a></strong>
                    </span>
            </div>
            <span class="text-center mt-2">or Sign up with</span>
            
            <div class="social-medial align-self-center">
                <a href=""> <img th:src="@{/img/logo/google.png}" alt="" src=""></a>
                <a href=""> <img th:src="@{/img/logo/facebook.png}" alt="" src=""></a>
                <a href=""> <img th:src="@{/img/logo/twiter.png}" alt="" src=""></a>
            </div>
        </div>
    </div>
</div>-->
<!--End Modal Register-->

<!--Verification OTP-->
<div class="modal fade" id="modalOTP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="card card-block modal-content ">
            <div class="text-left mr-3 mt-2 p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <legend class="text-center"><strong> Sign up to Mommo </strong></legend>
            <div class="text-center">
                <p class="text-center">Enter The Verification code the we sent</p>
                <span>
                        <a href="">user_ph_or_email</a>
                    </span>
            </div>
            
            <div class="p-4">
                <form action="" method="#">
                    <div class="d-flex justify-content-center align-items-center container">
                        <div class="d-flex flex-row mb-3 mt-3">
                            <input type="text" class="form-control fm_costum" autofocus="" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                            <input type="text" class="form-control fm_costum" maxlength="1">
                        </div>
                    </div>
                    <button type="submit" class=" form-control btn btn-primary rounded-pill mt-3">VERIFY</button>
                </form>
            </div>
            <div class="text-center mb-4">
                <p class="text-center ">Didn't receive the verification code
                    <strong>
                        <span class="text-center"> Resend in 00:59</span>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Verification OTP-->


<!--Javascript-->

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.timeago.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>
<!-- <script th:src="@{/dhtmlxgantt/dhtmlxgantt.js?v=7.0.5}"></script> -->

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/Chart.ErrorBars.min.js}"></script>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // open search
        $('header.top .topmenu li.search').on('click', 'a', function (e) {
            $('.search-bar').fadeIn();
            $('.topmenu').fadeOut();
            e.preventDefault();
        });
        // close search
        $(document).mouseup(function (e) {
            var container = $('.search-bar form');
            if (!container.is(e.target) &&
                container.has(e.target).length === 0) {
                $('.search-bar').fadeOut();
                $('.topmenu').fadeIn();
            }
        });
    })
</script>
<!--End Javascript-->

</body>
</html>
