<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap_default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/scss/main.css}">

    <title style="text-transform:capitalize">Dudu Gift</title>
</head>

<body>
<!--Navbar-->
<div th:replace="fragments/topnav :: navbar"></div>
<!--End Navbar-->
<section class="banner align-items-center jmb">
    <div class="container">
        <div style="max-width: 500px;margin: auto;">
            <div class="form-group">
                <legend class="text-center"><strong> Sign up to Dudu </strong></legend>
                <div class="p-4">
                    <form th:action="@{/save/user}" th:object="${user}" method="post" enctype="multipart/form-data">
                        <input th:value="${name}" id="fullName" name="fullName" type="text" class="form-control fm_costum" hidden>
                        <input th:value="${email}" id="email_user" name="email_user" type="text" class="form-control fm_costum" hidden>
                        <div class="form-group form">
                            <input type="text" id="username" name="username" class="form-control form__input" autocomplete="off">
                            <label class="form__label">Username</label>
                        </div>
                        <div class="form-group form">
                            <input type="password" id="password" name="password" class="form-control form__input" autocomplete="off">
                            <label class="form__label">Password</label>
                        </div>
                        <div class="form-group form">
                            <input type="password" id="confirm" name="confirm"
                                   class="form-control form__input" autocomplete="off">
                            <label class="form__label">Verify Password</label>
                        </div>
                        <div class="form-group form">
                            <input type="date" id="dob" name="dob" class="form-control form__input" autocomplete="off">
                            <label class="form__label">Date of Birth</label>
                        </div>
                            <span id="message"></span>
                        <button type="submit" class=" form-control btn btn-primary rounded-pill mt-3">SAVE PROFILE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.timeago.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/Chart.ErrorBars.min.js}"></script>

<!-- <script th:src="@{/dhtmlxgantt/dhtmlxgantt.js?v=7.0.5}"></script> -->
<script>
    $('#password, #confirm').on('keyup', function () {
        if ($('#password').val() == $('#confirm').val()) {
            $('#message').html('Password Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
        });
</script>
</body>

</html>
