<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap_default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/scss/main.css}">

    <title style="text-transform:capitalize">Dudu Gift</title>
</head>

<body>
<!--Navbar-->
<div th:replace="fragments/topnav :: navbar"></div>
<!--End Navbar-->
<section class="banner align-items-center jmb">
    <div class="container">
        <div style="max-width: 500px;margin: auto;">
            <div class="form-group">
                <legend class="text-center"><strong> Sign up to Dudu </strong></legend>
                <div class="p-4">
                    <div class="form-group form">
                        <input type="email" id="email" name="email" class="form-control form__input" autocomplete="off" required>
                        <label class="form__label">Email</label>
                    </div>
                    <div class="form-group form">
                        <input type="text" id="full_name" name="full_name" class="form-control form__input" autocomplete="off"
                               required>
                        <label class="form__label">Full Names</label>
                    </div>
                    <div class="form-group d-md-flex">
                        <div class="d-flex text-left">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox" name="checkbox">
                                <label class="form-check-label">I Accept MOMMO's </label>
                                <span><strong><a href="">Terms & Conditions</a></strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-md-flex">
                        <button class="form-control btn btn-primary rounded-pill" id="btn-register" name="btn-register" data-toggle="modal" data-target="#modalOTP" disabled>SIGN UP</button>
                    </div>
                    <div class="form-group d-md-flex">
                        <a class="form-control btn btn-danger rounded-pill" th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Verification OTP-->
    <div class="modal fade" id="modalOTP" aria-hidden="true">
        <div class="modal-dialog">
            <div class="card card-block modal-content ">
                <div class="text-left mr-3 mt-2 p-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <legend class="text-center"><strong> Sign up to Mommo </strong></legend>
                <div class="text-center">
                    <p class="text-center">Enter The Verification code the we sent</p>
                    <span>
                        <a href="">user_ph_or_email</a>
                    </span>
                </div>
                <div class="p-4">
                    <form th:action="@{/register/step2}" method="post" enctype="multipart/form-data">
                        <input id="email_user" name="email_user" type="text" class="form-control fm_costum" hidden>
                        <input id="fullName" name="fullName" type="text" class="form-control fm_costum" hidden>
                        <input id="code" name="code" type="text" class="form-control fm_costum" hidden>
                        <div class="d-flex justify-content-center align-items-center container">
                            <div class="d-flex flex-row mb-3 mt-3">
                                <input name="len_1" type="text" class="form-control fm_costum" autofocus="" maxlength="1">
                                <input name="len_2" type="text" class="form-control fm_costum" maxlength="1">
                                <input name="len_3" type="text" class="form-control fm_costum" maxlength="1">
                                <input name="len_4" type="text" class="form-control fm_costum" maxlength="1">
                                <input name="len_5" type="text" class="form-control fm_costum" maxlength="1">
                                <input name="len_6" type="text" class="form-control fm_costum" maxlength="1">
                            </div>
                        </div>
                        <button type="submit" class=" form-control btn btn-primary rounded-pill mt-3">VERIFY</button>
                    </form>
                </div>
                <div class="text-center mb-4">
                    <p class="text-center ">Didn't receive the verification code
                        <strong>
                            <span class="text-center"> Resend in 00:59</span>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--End Verification OTP-->
</section>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.timeago.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/Chart.ErrorBars.min.js}"></script>

<!-- <script th:src="@{/dhtmlxgantt/dhtmlxgantt.js?v=7.0.5}"></script> --> 
<script>
    $(document).ready(function(){
        $(function(){
            $('.form-check-input').click(function () {
                var email = document.getElementById("email").value;
                var name = document.getElementById("full_name").value;

                const characters ='0123456789';
                function generateString(length) {
                    let result = '';
                    const charactersLength = characters.length;
                    for ( let i = 0; i < length; i++ ) {
                        result += characters.charAt(Math.floor(Math.random() * charactersLength));
                    }
                    return result;
                }
                code=generateString(6);

                if ($(this).is(':checked') && !(email === null || email === '') &&
                    !(name === null || name === '') ) {
                    $('#btn-register').removeAttr('disabled');
                    $('#btn-register').click(function (e) {
                        e.preventDefault();
                        $.ajax({
                            type: "POST",
                            url: "/save/register1",
                            data: {
                                email: document.getElementById("email").value,
                                full_name: document.getElementById("full_name").value,
                                code: code
                            },
                            success: function(result) {
                                console.log("Oke");
                            },
                            error: function(result) {
                                console.log("Error");
                            }
                        });
                    });

                    function email(){
                        var email_user = document.getElementById("email").value;
                        return email_user;
                    }
                    $("#email_user").val(email());

                    function fullName(){
                        var full_name = document.getElementById("full_name").value;
                        return full_name;
                    }
                    $("#fullName").val(fullName());
                    $("#code").val(code);
                } else {
                    $('#btn-register').attr('disabled', 'disabled');
                }

            });
        })
    });
</script>
</body>

</html>
