<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap_default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/eureka/style.css}">-->
    <link rel="stylesheet" th:href="@{/scss/main.css}">
    <!--    <link rel="stylesheet" th:href="@{/dhtmlxgantt/dhtmlxgantt.css?v=7.0.5}">-->
    
    <title style="text-transform:capitalize">Dudu Gift</title>
</head>

<body>
<!--Navbar-->
<header class="top">
    <nav class="navbar navbar-expand-lg navbar-light navbarNav fixed-top">
        <img th:src="@{/img/logo.png}" alt="" style="height:2rem">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topmenu">
                <li class="nav-item search">
                    <a href="#" class="nav-link"><i class="fa fa-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gift Inpiration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create-registry}">Create Regitry</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modalLogin">Login/Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/notification}" class="nav-link"> <i class="fa fa-bell-o fa-5x" aria-hidden="true"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user-profile}"> <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="search-bar ">
            <form class="d-flex w-100 justify-content-center" method="GET">
                <input class="align-self-center search-input form-control text-center p-3" type="text" name=""
                       placeholder="What are you searching for dudu?"/>
                <button type="submit" class="align-self-center mb-3">
                </button>
            </form>
        </div>
    </nav>
</header>
<!--End Navbar-->

<!--Banner Page-->
<div class="container">
    <!-- Column -->
    <div class="row">
        <img class="card-img-top" th:src="@{/assets/image/bg2.png}" alt="Card image cap">
        <div class="card-body little-profile">
            <div class="pro-img "><img th:src="@{/img/profile.png}" alt="profile" class="rounded-circle shadow-lg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-4">
            <h4 class="text-primary text-uppercase font-weight-bold">Display_User_Name</h4>
            <h5 class="text-primary font-weight-bold">Display_Name</h5>
            <span class="text-primary">
                <strong>Profile_bio</strong>
            </span>
            <div class="d-inline-flex text-primary">
                <span class="mr-3 ml-2">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    Following
                </span>
                <span>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    Followers
                </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 justify-content-center">
            <button class="btn btn-outline-warning float-right text-black-50"><i class="fa fa-cogs" aria-hidden="true"></i></button>
            <button class="btn btn-outline-warning float-right mr-3 text-black-50"><i class="fa fa-share-alt"
                                                                                      aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<!--End Banner Pages-->

<!--Profile Property-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent pt-3 border-bottom border-warning nav-profile">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav profile-nav">
                <li class="nav-item ">
                    <a class="nav-link active text-primary" th:href="@{/user-profile}"><i class="fa fa-gift mr-3" aria-hidden="true"></i>Wishlis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user-profile/user-favorite}"><i class="fa fa-star-o mr-3" aria-hidden="true"></i>
                        Favorited</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user-profile/user-activity}"><i class="fa fa-clock-o mr-3"
                                                                                    aria-hidden="true"></i> Activity
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!--End Profile Property-->

<!--    Card Profile Property-->
<div class="container">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-4 col-sm-3">
            <div class="card rounded-0 border-0 shadow-lg">
                <img th:src="@{/img/logo/card-img.png}" class="card-img-top dropdown" alt="icon" style="height: 175px; border-radius: 0 0 20px 20px;">
                <div class="card-body">
                    <div class="card-text">
                        <strong class="mb-2">Wishlist_name</strong>
                    </div>
                    <div class="progress border border-dark" style="height: 30px;">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex justify-content-between align-content-center pt-1">
                        <small class="font-weight-bold">15% Fullfilled</small>
                        <small class="font-weight-bold">ends in 27 days</small>
                    </div>
                </div>
                <div class="card-footer  bg-light">
                    <div class="d-flex justify-content-between align-content-center">
                        <div class="dropup">
                            <a  class=" dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-gift mr-3" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu rounded">
                                <!-- Dropdown menu links -->
                                <a class="dropdown-item " href="#">
                                    <i class="fa fa-pencil-square-o mr-3" aria-hidden="true"></i>
                                 Edit
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-link mr-3" aria-hidden="true"></i>
                                    Copy Link
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-paper-plane mr-3"></i>
                                    Send to
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span id="toggle_pwd"><i class="fa fa-eye mr-3"></i></span>
                                    Make Public
                                </a>
                            </div>
                        </div>
                        <small>3 Lorem</small>
                        <div class="fs-3">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3">
            <div class="card rounded-0 border-0 shadow-lg">
                <img th:src="@{/img/logo/card-img2.png}" class="card-img-top dropdown" alt="icon" style="height: 175px; border-radius: 0 0 20px 20px;">
                <div class="card-body">
                    <div class="card-text">
                        <strong class="mb-2">Wishlist_name</strong>
                    </div>
                    <div class="progress border border-dark" style="height: 30px;">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex justify-content-between align-content-center pt-1">
                        <small class="font-weight-bold">15% Fullfilled</small>
                        <small class="font-weight-bold">ends in 27 days</small>
                    </div>
                </div>
                <div class="card-footer  bg-light">
                    <div class="d-flex justify-content-between align-content-center">
                        <div class="dropup">
                            <a  class=" dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-gift mr-3" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu rounded">
                                <!-- Dropdown menu links -->
                                <a class="dropdown-item " href="#">
                                    <i class="fa fa-pencil-square-o mr-3" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-link mr-3" aria-hidden="true"></i>
                                    Copy Link
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-paper-plane mr-3"></i>
                                    Send to
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span id="toggle_pwd"><i class="fa fa-eye mr-3"></i></span>
                                    Make Public
                                </a>
                            </div>
                        </div>
                        <small>3 Lorem</small>
                        <div class="fs-3">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3">
            <div class="card rounded-0 border-0 shadow-lg">
                <img th:src="@{/img/logo/card-img3.png}" class="card-img-top dropdown" alt="icon" style="height: 175px; border-radius: 0 0 20px 20px;">
                <div class="card-body">
                    <div class="card-text">
                        <strong class="mb-2">Wishlist_name</strong>
                    </div>
                    <div class="progress border border-dark" style="height: 30px;">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex justify-content-between align-content-center pt-1">
                        <small class="font-weight-bold">15% Fullfilled</small>
                        <small class="font-weight-bold">ends in 27 days</small>
                    </div>
                </div>
                <div class="card-footer  bg-light">
                    <div class="d-flex justify-content-between align-content-center">
                        <div class="dropup">
                            <a  class=" dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-gift mr-3" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu rounded">
                                <!-- Dropdown menu links -->
                                <a class="dropdown-item " href="#">
                                    <i class="fa fa-pencil-square-o mr-3" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-link mr-3" aria-hidden="true"></i>
                                    Copy Link
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-paper-plane mr-3"></i>
                                    Send to
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span id="toggle_pwd"><i class="fa fa-eye mr-3"></i></span>
                                    Make Public
                                </a>
                            </div>
                        </div>
                        <small>3 Lorem</small>
                        <div class="fs-3">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3">
            <div class="card rounded-0 border-0 shadow-lg">
                <img th:src="@{/img/logo/card-img4.png}" class="card-img-top dropdown" alt="icon" style="height: 175px; border-radius: 0 0 20px 20px;">
                <div class="card-body">
                    <div class="card-text">
                        <strong class="mb-2">Wishlist_name</strong>
                    </div>
                    <div class="progress border border-dark" style="height: 30px;">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex justify-content-between align-content-center pt-1">
                        <small class="font-weight-bold">15% Fullfilled</small>
                        <small class="font-weight-bold">ends in 27 days</small>
                    </div>
                </div>
                <div class="card-footer  bg-light">
                    <div class="d-flex justify-content-between align-content-center">
                        <div class="dropup">
                            <a  class=" dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-gift mr-3" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu rounded">
                                <!-- Dropdown menu links -->
                                <a class="dropdown-item " href="#">
                                    <i class="fa fa-pencil-square-o mr-3" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-link mr-3" aria-hidden="true"></i>
                                    Copy Link
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-paper-plane mr-3"></i>
                                    Send to
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span id="toggle_pwd"><i class="fa fa-eye mr-3"></i></span>
                                    Make Public
                                </a>
                            </div>
                        </div>
                        <small>3 Lorem</small>
                        <div class="fs-3">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    End Profile PropertyCard-->

<!--Footer-->
<footer class="footers pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                <div class="footers-info mt-3">
                    <h3>Follow us on</h3>
                </div>
                <div class="social-medial align-self-center">
                    <a href=""> <img th:src="@{/img/logo/twitter-black.png}" alt="twiter" height="200"></a>
                    <a href=""> <img th:src="@{/img/logo/ig.png}" alt="instagram"></a>
                    <a href=""> <img th:src="@{/img/logo/tiktok.png}" alt="tiktok"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Ventures</a></li>
                
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->



<!--Javascript-->

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.timeago.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>
<!-- <script th:src="@{/dhtmlxgantt/dhtmlxgantt.js?v=7.0.5}"></script> -->

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/Chart.ErrorBars.min.js}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#id="toggle_pwd"').click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#txtPassword").attr("type", type);
        })
        // open search
        $('header.top .topmenu li.search').on('click', 'a', function (e) {
            $('.search-bar').fadeIn();
            $('.topmenu').fadeOut();
            e.preventDefault();
        });
        // close search
        $(document).mouseup(function (e) {
            var container = $('.search-bar form');
            if (!container.is(e.target) &&
                container.has(e.target).length === 0) {
                $('.search-bar').fadeOut();
                $('.topmenu').fadeIn();
            }
        });
    })
</script>
<!--End Javascript-->

</body>
</html>
