<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap_default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/scss/main.css}">

    <title style="text-transform:capitalize">Dudu Gift</title>
</head>

<body>
<section class="banner align-items-center jmb">
    <div class="container">
        <h4>Your TOTP is Wrong !!!!!</h4>
    </div>
</section>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.timeago.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/Chart.ErrorBars.min.js}"></script>

<!-- <script th:src="@{/dhtmlxgantt/dhtmlxgantt.js?v=7.0.5}"></script> -->
</body>

</html>
