<div th:fragment="navbar">
  <header class="top">
    <nav class="navbar navbar-expand-lg navbar-light navbarNav fixed-top">
      <img th:src="@{/img/logo.png}" alt="" style="height:2rem">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto topmenu">
          <li class="nav-item search">
            <a href="#" class="nav-link"><i class="fa fa-search"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gift Inpiration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/create-registry}">Create Regitry</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#modalLogin">Login/Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> <i class="fa fa-bell-o fa-5x" aria-hidden="true"></i> </a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" th:href="@{/user-profile}"> <i class="fa fa-user fa-5x" aria-hidden="true"></i> </a>
          </li>
        </ul>
      </div>
      <div class="search-bar ">
        <form class="d-flex w-100 justify-content-center" method="GET">
          <input class="align-self-center search-input form-control text-center p-3" type="text" name=""
                 placeholder="What are you searching for dudu?"/>
          <button type="submit" class="align-self-center mb-3">
          </button>
        </form>
      </div>
    </nav>
  </header>

</div>
